
        *
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        .bg-mini-wrapper
        {
          position: absolute;
          display: none;
        }

        #white-theme
        {
          position: relative;
          padding: 5px 10px;
          font-size: 15px;
        }

        .bg-mini-wrapper button
        {
          width: 100%;
          padding: 5px 5px;
          font-size: 15px;
        }

        .bg-wrapper:hover #white-theme+.bg-mini-wrapper
        {
          display: block;
          width: 80px;
          /* height: 300px; */
          flex-wrap: wrap;
          padding: 5px 0px;
          border: 2px solid blanchedalmond;
        }

        #header1
        {
            background:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url(./Image/netflix-background.jpg)no-repeat center/cover;
            border-bottom: 10px solid rgb(35 35 35);
            padding-bottom: 80px;
            width: 100%;
        }
        .images
        {
            padding-top: 20px;
            width: 148px;
            color: rgb(229,9,20);
            fill:currentColor;
        }
        img
        {
            width: 100%;
        }
        #button3
        {
            border-radius: 5px;
            padding: 5px 50px;
            background: rgb(229,9,20);
            color: white;
            font-size: 20px;
        }
        nav
        {
            width: 70%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 80px;
        }
        .inputes2
        {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        #select2
        {
            background: transparent;
            padding:5px 10px ;
            color: white;
            font-size: 20px;
            border:1px solid #616060;
            border-radius: 5px;
        }
        #button2
        {
            border-radius: 5px;
            padding: 15px 50px;
            background: rgb(229,9,20);
            color: white;
            font-size: 20px;
        }
        .nav-wrapper
        {
            padding-bottom: 50px;
            margin-bottom: 20px;
        }
        .pagewrapper1
        {
            width: 70%;
            margin: 0 auto;
            padding-bottom: 60px;
        }

        .pagewrapper1 h2
        {
            text-align: center;
            color: white;
            font-size: 48px;
            font-weight: 900;
            
        }
        .page1title
        {
            text-align: center;
            color: white;
            padding-bottom: 100px;
        }
        #Watch-anywhere
        {
            padding: 20px 0px;
        }
         h3
      {
        color: white;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 25px;
      }
      #button1
      {
        background: rgb(229 9 20);
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding: 10px 50px;
        border-radius: 5px;
      }
      #input2
      {
        padding: 15px 50px;
        background: transparent;
        font-size: 20px;
        font-weight: 600;
        color: white;
        border-radius: 5px;
        background: rgb(32 29 27);
      }
      .page2
      {
        width: 70%;
        margin: 0 auto;
      }
      .page2wrapper
      {
        padding: 50px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      }
      #header2
      {
        border-bottom: 10px solid rgb(35 35 35);
        background: rgb(0 0 0);
        padding: 50px 0px;
      }
      .text
      {
        /* border: 5px solid white; */
        /* padding-top: 20px; */
        width: 50%;
        padding: 100px 0px;
      }

      #img1
      {
        width: 58px;
        height: 80px;
      }

      #img2
      {
        width: 48px;
        height: 60px;
      }

      .magic
      {
        display: flex;
        align-items: center;
        border: 2px solid rgb(53 53 53);
        border-radius: 5px;
        position: absolute;
        top: 290px;
        left: 123px;
        background-color: black;
        padding: 0px 20px;
        z-index: 1;
      }

      .magic img
      {
        object-fit: cover;
        margin: 5px 0px;
      }

      #page2img
      {
        position: relative;
        z-index: 1;
      }

      .video1-parent
      {
        position: absolute;
        top: 135px;
        right:75px;
        width: 390px;
        height: 210px;
        object-fit: cover;
      }

      #video1
      {
        width: 100% ; 
        height: 100%;
      }

      #video2
      {
        position: absolute;
        top: 40px;
        right: 120px;
        width: 320px;
      }

      .magic p
      {
        font-size: 15px;
        padding: 2px 15px 2px 15px;
      }

      #p3
      {
        color: blue;
      }
      .page2-images
      {
        width: 50%;
      }
     
      .page2-images img
        {
          width: 100%;
        }
      
      .text h2
      {
        color: white;
        font-size: 48px;
        font-weight: 800;
      }
      
      .text h3
      {
        text-align: left;
        padding-top: 20px;
        font-weight: 400;
      }

      .text2 h2
        {
          color: white;
          font-size: 40px;
          font-weight: 800;
        }

        .text2 h3
      {
        text-align: left;
        padding-top: 20px;
        font-weight: 400; 
      }

      .page3wrapper
      {
        padding: 50px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
      }
      #header3,#header4,#header5
      {
        border-bottom: 10px solid rgb(35 35 35);
        background: rgb(0 0 0);
        padding: 50px 0px; 
      }
      .text2
      {
        padding-top: 20px;
        width: 50%;
      }
      .page3
      {
        width: 70%;
        margin: 0 auto;
      }
      .page3-images
      {
        width: 50%;
        position: relative;
      }
      .page3-images img
      {
        position: relative;
        z-index: 1;
        /* width: 50%; */
      }
      .page4,.page5
      {
        width: 70%;
        margin: 0 auto;
      }

      .text3
      {
        width: 50%;
      }

      .text3 h2
        {
          color: white;
          font-size: 45px;
          font-weight: 800;
        }

        .text3 h3
       {
        text-align: left;
        padding-top: 20px;
        font-weight: 400; 
       }

       .text4 
       {
        width: 50%;
       }

       .page4wrapper
       {
        position: relative;
       }

      .page4wrapper,.page5wrapper
      {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .page5wrapper
      {
        flex-direction: row-reverse;
        column-gap: 20px;
        width: 100%;
      }
      .page5 h2
      {
        font-size: 40px;
        font-weight: 900; 
        /* we are additionally change the h2 font size */
      }

      #header6
        {
            background: rgb(0 0 0);
           border-top: 10px solid rgb(35 35 35);
           border-bottom: 10px solid rgb(35 35 35);
        }
        h1
        {
            color: white;
            font-size: 48px;
            font-weight: 500;
            padding: 100px 0px 40px;
            text-align: center;
        }
        h2
        {
            color: white;
        }
        .block1
        {
            border: 1px solid white;
        }
        .wrapper,.wrapper-last
        {
            width: 70%;
            margin: 0 auto;
        }
        .block2
        {
            background: rgb(45 45 45);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px;
            border: 1px solid black;

        }
        i
        {
            font-size: 30px;
            padding-right: 10px;
            color: white;
            /* transform: rotateX(0deg); */
        }
        .smallblock
        {
            background: rgb(45 45 45);
        }
        p
        {
            font-size: 24px;
            padding: 10px;
            color: white;
        }
      .title-wrapper
      {
        padding: 0px 0px 50px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
      }
      #input1
      {
        padding: 15px 50px;
        background: transparent;
        font-size: 20px;
        font-weight: 600;
        color: white;
        border-radius: 5px;
        background: rgb(45 45 45);
      }
      #button1
      {
        background: rgb(229 9 20);
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding: 15px 50px;
        border-radius: 5px;
      }
      .inputes
      {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        /* padding: 0px ; */
      }
      .wrapper2 h3
      {
        color: white;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 25px;
      }
      button i
      {
        font-size: 20px;
      }
      .wrapper2
      {
        padding-bottom: 100px;
      }
      footer
      {
        background: rgb(0 0 0);
        color: white;
      }
      footer ul
      {
        list-style: none;
      }
      .lists
      {
        display: flex;
        justify-content: space-around;
      }
      .wrapper-last
      {
        padding: 50px 0px 70px;
        color: rgba(255,255,255,0.7);
      }
      .wrapper-last h4
      {
        padding-bottom: 20px;
        font-size: 17px;
        padding-left: 60px;
      }

      .lists li
      {
        padding: 10px 0px;        
      }
      #select1
      {
        padding: 5px 20px;
        margin: 20px 0px 20px 60px;
        background: transparent;
        color: white;
      }
      #select1+#p1
      {
        padding-left: 60px;
        font-size: 15px;
      }
      
      .wrapper-last a
      {
          color: rgba(255,255,255,0.7);
    }
    a:active
    {
        color: red;
      }


    