/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) 
  { 

    
    .video1-parent
    {
      position: absolute;
      top: 140px;
      right:68px;
      width: 360px;
      height: 190px;
      object-fit: cover;
    }

    #video2
    {
      position: absolute;
      top: 38px;
      right: 90px;
      width: 315px;
    }

    .magic
    {
      display: flex;
      align-items: center;
      border: 2px solid rgb(53 53 53);
      border-radius: 5px;
      position: absolute;
      top: 258px;
      left: 103px;
      background-color: black;
      padding: 0px 20px;
    }

    .magic img
    {
      object-fit: cover;
      margin: 5px 0px;
    }

    .magic p
    {
      font-size: 15px;
      padding: 2px 15px 2px 15px;
    }

    #select2 {
      background: transparent;
      padding: 15px 20px;
      color: white;
      font-size: 20px;
      border: 1px solid #616060;
      border-radius: 10px;
  }
    
    #button3 {
      border-radius: 10px;
      padding: 15px 25px;
      background: rgb(229,9,20);
      color: white;
      font-size: 20px;
  }
  .pagewrapper1 h2 {
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 900;
  }
      #Watch-anywhere { 
        padding: 20px 0px;
      font-size: 28px;
        }
  
        h3 {
          color: white;
          text-align: center;
          padding-bottom: 20px;
          font-weight: 300;
          font-size: 30px;
      }
      #input1 {
        padding: 20px 50px;
        background: transparent;
        font-size: 20px;
        font-weight: 600;
        color: white;
        border-radius: 5px;
        background: rgb(45 45 45);
            }
  
       #button1 {
         background: rgb(229 9 20);
         font-size: 20px;
         font-weight: 600;
         color: white;
         padding: 20px 50px;
         border-radius: 5px;
          }
          .fa-angle-right:before {
            content: "\f105";
            font-size: 18px;
        }
  
        .text h2 {
          color: white;
          font-size: 40px;
          font-weight: 900;
      }
      .text h3 {
        text-align: left;
        padding-top: 20px;
        font-weight: 500;
        font-size: 30px;
    }
  
    .text2 h2 {
      color: white;
      font-size: 40px;
      font-weight: 800;
    }
    .text2 h3 {
      text-align: left;
      padding-top: 20px;
      font-weight: 400;
      font-size: 30px;
    }
    .page3-images img
    {
      width: 100%;
    }
    .text3 h2 {
      color: white;
      font-size: 40px;
      font-weight: 600;
  }
  .text3 h3 {
    text-align: left;
    padding-top: 20px;
    font-weight: 300;
    font-size: 30px;
  }
    .page5 h2
      {
        font-size: 40px;
        font-weight: 700; 
        /* we are additionally change the h2 font size */
      }
      .page5 h3
      {
        font-size: 25px;
        padding-top: 20px;
        text-align: left;
      }
  
      .page5-images
      {
        width: 50%;
      }
      .page5-images img
      {
        width: 100%;
      }
      h1 {
        color: white;
        font-size: 40px;
        font-weight: 500;
        padding: 50px 0px 40px;
        text-align: center;
    }
    .block2 {
      background: rgb(45 45 45);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      border: 1px solid black;
      }
      
      .block2 h2
      {
        font-size: 30px;
        font-weight: 300;
      }
  
      .fa-plus:before
      {
        font-size: 30px;
      }
      .smallblock p
      {
        font-size: 25px;
        padding: 5px;
      }
  
      .wrapper2 h3 {
        color: white;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 25px;
    }
    #input2 {
      padding: 20px 50px;
      background: transparent;
      font-size: 20px;
      font-weight: 500;
      color: white;
      border-radius: 5px;
      background: rgb(32 29 27);
    }
    #button2 {
      border-radius: 5px;
      padding: 20px 50px;
      background: rgb(229,9,20);
      color: white;
      font-size: 20px;
  }
  
  
  .wrapper-last h4
   {
    padding-bottom: 20px;
    font-size: 22px;
    padding-left: 0px;
    }
    .lists li {
      padding: 10px 0px;
      font-size: 20px;
  }
  #select1 {
    padding: 5px 20px;
    margin:  10px 0px ;
    background: transparent;
    color: white;
    }
  #select1+#p1 {
    padding-left: 0px;
    font-size: 18px;
  }

 }


/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px)
 { 

  .video1-parent
  {
    position: absolute;
    top: 170px;
    right:58px;
    width: 307px;
    height: 170px;
    object-fit: cover;
  }


  #video2
  {
    position: absolute;
    top: 40px;
    right: 84px;
    width: 258px;
  }

  .magic
    {
      display: flex;
      align-items: center;
      border: 2px solid rgb(53 53 53);
      border-radius: 5px;
      position: absolute;
      top: 230px;
      left: 73px;
      background-color: black;
      padding: 0px 10px;
    }

    .magic img
    {
      object-fit: cover;
      margin: 5px 0px;
    }

    .magic p
    {
      font-size: 15px;
      padding: 2px 15px 2px 15px;
    }

  #select2 {
    background: transparent;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    border: 1px solid #616060;
    border-radius: 10px;
}
  
  #button3 {
    border-radius: 10px;
    padding: 15px 25px;
    background: rgb(229,9,20);
    color: white;
    font-size: 20px;
}
.pagewrapper1 h2 {
  text-align: center;
  color: white;
  font-size: 45px;
  font-weight: 900;
}
    #Watch-anywhere { 
      padding: 20px 0px;
    font-size: 28px;
      }

      h3 {
        color: white;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 300;
        font-size: 30px;
    }
    #input1 {
      padding: 20px 50px;
      background: transparent;
      font-size: 20px;
      font-weight: 600;
      color: white;
      border-radius: 5px;
      background: rgb(45 45 45);
          }

     #button1 {
       background: rgb(229 9 20);
       font-size: 20px;
       font-weight: 600;
       color: white;
       padding: 20px 50px;
       border-radius: 5px;
        }
        .fa-angle-right:before {
          content: "\f105";
          font-size: 18px;
      }

      .text h2 {
        color: white;
        font-size: 40px;
        font-weight: 900;
    }
    .text h3 {
      text-align: left;
      padding-top: 20px;
      font-weight: 500;
      font-size: 30px;
  }

  .text2 h2 {
    color: white;
    font-size: 40px;
    font-weight: 800;
  }
  .text2 h3 {
    text-align: left;
    padding-top: 20px;
    font-weight: 400;
    font-size: 30px;
  }
  .page3-images img
  {
    width: 100%;
  }
  .text3 h2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.text3 h3 {
  text-align: left;
  padding-top: 20px;
  font-weight: 300;
  font-size: 30px;
}
  .page5 h2
    {
      font-size: 40px;
      font-weight: 700; 
      /* we are additionally change the h2 font size */
    }
    .page5 h3
    {
      font-size: 25px;
      padding-top: 20px;
      text-align: left;
    }

    .page5-images
    {
      width: 50%;
    }
    .page5-images img
    {
      width: 100%;
    }
    h1 {
      color: white;
      font-size: 40px;
      font-weight: 500;
      padding: 50px 0px 40px;
      text-align: center;
  }
  .block2 {
    background: rgb(45 45 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid black;
    }
    
    .block2 h2
    {
      font-size: 30px;
      font-weight: 300;
    }

    .fa-plus:before
    {
      font-size: 30px;
    }
    .smallblock p
    {
      font-size: 25px;
      padding: 5px;
    }

    .wrapper2 h3 {
      color: white;
      text-align: center;
      padding-bottom: 20px;
      font-weight: 400;
      font-size: 25px;
  }
  #input2 {
    padding: 20px 50px;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    background: rgb(32 29 27);
  }
  #button2 {
    border-radius: 5px;
    padding: 20px 50px;
    background: rgb(229,9,20);
    color: white;
    font-size: 20px;
}


.wrapper-last h4
 {
  padding-bottom: 20px;
  font-size: 22px;
  padding-left: 0px;
  }
  .lists li {
    padding: 10px 0px;
    font-size: 20px;
}
#select1 {
  padding: 5px 20px;
  margin:  10px 0px ;
  background: transparent;
  color: white;
  }
#select1+#p1 {
  padding-left: 0px;
  font-size: 18px;
}


  }

  
/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px)
{

  .video1-parent
  {
    position: absolute;
    top: 185px;
    right:49px;
    width: 255px;
    height: 140px;
    object-fit: cover;
  }


  #video2
  {
    position: absolute;
    top: 28px;
    right: 68px;
    width: 220px;
  }


  .magic
  {
    display: flex;
    align-items: center;
    border: 2px solid rgb(53 53 53);
    border-radius: 5px;
    position: absolute;
    top: 195px;
    left: 50px;
    background-color: black;
    padding: 0px 5px;
  }

  .magic img
  {
    object-fit: cover;
    margin: 5px 0px;
  }

  .magic p
  {
    font-size: 15px;
    padding: 2px 15px 2px 15px;
  }

 #select2 {
   background: transparent;
   padding: 10px 20px;
   color: white;
   font-size: 20px;
   border: 1px solid #616060;
   border-radius: 5px;
}
 
 #button3 {
   border-radius: 5px;
   padding: 10px 20px;
   background: rgb(229,9,20);
   color: white;
   font-size: 20px;
}
.pagewrapper1 h2 {
 text-align: center;
 color: white;
 font-size: 40px;
 font-weight: 900;
}
   #Watch-anywhere { 
     padding: 20px 0px;
   font-size: 25px;
     }

     h3 {
       color: white;
       text-align: center;
       padding-bottom: 20px;
       font-weight: 300;
       font-size: 25px;
   }
   #input1 {
     padding: 20px 50px;
     background: transparent;
     font-size: 20px;
     font-weight: 600;
     color: white;
     border-radius: 5px;
     background: rgb(45 45 45);
         }

    #button1 {
      background: rgb(229 9 20);
      font-size: 20px;
      font-weight: 600;
      color: white;
      padding: 20px 50px;
      border-radius: 5px;
       }
       .fa-angle-right:before {
         content: "\f105";
         font-size: 18px;
     }

     .text h2 {
       color: white;
       font-size: 40px;
       font-weight: 900;
   }
   .text h3 {
     text-align: left;
     padding-top: 20px;
     font-weight: 400;
     font-size: 22px;
 }

 .text2 h2 {
   color: white;
   font-size: 35px;
   font-weight: 800;
 }
 .text2 h3 {
   text-align: left;
   padding-top: 20px;
   font-weight: 400;
   font-size: 25px;
 }
 .page3-images img
 {
   width: 100%;
 }
 .text3 h2 {
   color: white;
   font-size: 35px;
   font-weight: 600;
}
.text3 h3 {
 text-align: left;
 padding-top: 20px;
 font-weight: 300;
 font-size: 25px;
}
 .page5 h2
   {
     font-size: 35px;
     font-weight: 700; 
     /* we are additionally change the h2 font size */
   }
   .page5 h3
   {
     font-size: 22px;
     padding-top: 20px;
     text-align: left;
   }

   .page5-images
   {
     width: 50%;
   }
   .page5-images img
   {
     width: 100%;
   }
   h1 {
     color: white;
     font-size: 40px;
     font-weight: 500;
     padding: 50px 0px 40px;
     text-align: center;
 }
 .block2 {
   background: rgb(45 45 45);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 20px;
   border: 1px solid black;
   }
   
   .block2 h2
   {
     font-size: 30px;
     font-weight: 300;
   }

   .fa-plus:before
   {
     font-size: 30px;
   }
   .smallblock p
   {
     font-size: 25px;
     padding: 5px;
   }

   .wrapper2 h3 {
     color: white;
     text-align: center;
     padding-bottom: 20px;
     font-weight: 400;
     font-size: 25px;
 }
 #input2 {
   padding: 20px 50px;
   background: transparent;
   font-size: 20px;
   font-weight: 500;
   color: white;
   border-radius: 5px;
   background: rgb(32 29 27);
 }
 #button2 {
   border-radius: 5px;
   padding: 20px 50px;
   background: rgb(229,9,20);
   color: white;
   font-size: 20px;
}


.wrapper-last h4
{
 padding-bottom: 20px;
 font-size: 18px;
 padding-left: 0px;
 }
 .lists li {
   padding: 10px 0px;
   font-size: 15px;
}
#select1 {
 padding: 5px 20px;
 margin:  10px 0px ;
 background: transparent;
 color: white;
 }
#select1+#p1 {
 padding-left: 0px;
 font-size: 15px;
}

 }


/*  */
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px)
 
{

  .video1-parent
  {
    position: absolute;
    top: 195px;
    right:37px;
    width: 197px;
    height: 111px;
    object-fit: cover;
  }

  #video2
  {
    position: absolute;
    top: 17px;
    right: 50px;
    width: 170px;
  }

  .magic
  {
    display: flex;
    align-items: center;
    border: 2px solid rgb(53 53 53);
    border-radius: 5px;
    position: absolute;
    top: 155px;
    left: 35px;
    background-color: black;
    padding: 0px 5px;
  }

  .magic img
  {
    object-fit: cover;
    margin: 5px 0px;
  }

  #img1
  {
    height: 70px;
    object-fit: cover;
  }

  .magic p
  {
    font-size: 12px;
    padding: 2px 5px 2px 5px;
  }

  #button3 {
    border-radius: 5px;
    padding: 5px 20px;
    background: rgb(229,9,20);
    color: white;
    font-size: 20px;
}
.pagewrapper1 h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 900;
}
#Watch-anywhere {
  padding: 20px 0px;
  font-size: 22px;
      }
      h3 {
        color: white;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 300;
        font-size: 23px;
    }
    #input1 {
      padding: 15px 23px;
      background: transparent;
      font-size: 18px;
      font-weight: 600;
      color: white;
      border-radius: 5px;
      background: rgb(45 45 45);
          }

     #button1 {
       background: rgb(229 9 20);
       font-size: 18px;
       font-weight: 600;
       color: white;
       padding: 14px 40px;
       border-radius: 5px;
        }
        .fa-angle-right:before {
          content: "\f105";
          font-size: 18px;
      }

      .text h2 {
        color: white;
        font-size: 35px;
        font-weight: 600;
    }
    .text h3 {
      text-align: left;
      padding-top: 20px;
      font-weight: 400;
      font-size: 20px;
  }


  .text2 h2 {
    color: white;
    font-size: 25px;
    font-weight: 600;
  }
  .text2 h3 {
    text-align: left;
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
  }
  .page3-images img
  {
    width: 100%;
  }
  .text3 h2 {
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.text3 h3 {
  text-align: left;
  padding-top: 20px;
  font-weight: 300;
  font-size: 22px;
}
  .page5 h2
    {
      font-size: 35px;
      font-weight: 700; 
      /* we are additionally change the h2 font size */
    }
    .page5 h3
    {
      font-size: 20px;
      padding-top: 20px;
      text-align: left;
    }

    .page5-images
    {
      width: 50%;
    }
    .page5-images img
    {
      width: 100%;
    }
    h1 {
      color: white;
      font-size: 35px;
      font-weight: 500;
      padding: 50px 0px 40px;
      text-align: center;
  }
  .block2 {
    background: rgb(45 45 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid black;
    }
    
    .block2 h2
    {
      font-size: 25px;
      font-weight: 300;
    }

    .fa-plus:before
    {
      font-size: 25px;
    }
    .smallblock p
    {
      font-size: 20px;
      padding: 5px;
    }

    .wrapper2 h3 {
      color: white;
      text-align: center;
      padding-bottom: 20px;
      font-weight: 400;
      font-size: 22px;
  }
  #input2 {
    padding: 15px 23px;
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    background: rgb(32 29 27);
  }
  #button2 {
    border-radius: 5px;
    padding: 14px 40px;
    background: rgb(229,9,20);
    color: white;
    font-size: 18px;
}


.wrapper-last h4
 {
  padding-bottom: 20px;
  font-size: 17px;
  padding-left: 0px;
  }
  .lists li {
    padding: 10px 0px;
    font-size: 15px;
}
#select1 {
  padding: 5px 20px;
  margin:  10px 0px ;
  background: transparent;
  color: white;
  }
#select1+#p1 {
  padding-left: 0px;
  font-size: 15px;
}
  
}

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px)
    {

    
  .video1-parent
  {
    position: absolute;
    top: 193px;
    right:28px;
    width: 147px;
    height: 83px;
    object-fit: cover;
  }

  #video2
  {
    position: absolute;
    top: 14px;
    right: 37px;
    width: 130px;
  }


      .magic
  {
    display: flex;
    align-items: center;
    border: 2px solid rgb(53 53 53);
    border-radius: 5px;
    position: absolute;
    top: 117px;
    left: 20px;
    background-color: black;
    padding: 0px 0px;
  }

  .magic img
  {
    object-fit: cover;
    margin: 5px 0px;
  }

  #img1
  {
    width: 50px;
    object-fit: cover;
  }

  #img2
  {
    width: 40px;
    object-fit: cover;
  }

  .magic p
  {
    font-size: 10px;
    padding: 2px 2px 2px 2px;
  }

      #button3
      {
        border-radius: 5px;
    padding: 5px 10px;
    background: rgb(229,9,20);
    color: white;
    font-size: 20px;
      }
      #select2 {
        background: transparent;
        padding: 5px 10px;
        color: white;
        font-size: 20px;
        border: 1px solid #616060;
        border-radius: 5px;
    }
    .pagewrapper1 h2 {
      text-align: center;
      color: white;
      font-size: 24px;
      font-weight: 900;
  }
    #Watch-anywhere {
    padding: 10px 0px;
    font-size: 18px;
        }
        h3 {
          color: white;
          text-align: center;
          padding-bottom: 20px;
          font-weight: 300;
          font-size: 18px;
      }
      #input1 {
        padding: 10px;
        background: transparent;
        font-size: 15px;
        font-weight: 600;
        color: white;
        border-radius: 5px;
        background: rgb(45 45 45);
            }

       #button1 {
         background: rgb(229 9 20);
         font-size: 15px;
         font-weight: 600;
         color: white;
         padding: 10px;
         border-radius: 5px;
          }
          .fa-angle-right:before {
            content: "\f105";
            font-size: 15px;
        }

        .text h2 {
          color: white;
          font-size: 30px;
          font-weight: 600;
      }
      .text h3 {
        text-align: left;
        padding-top: 20px;
        font-weight: 400;
        font-size: 15px;
    }

    .text2 h2 {
      color: white;
      font-size: 22px;
      font-weight: 600;
    }
    .text2 h3 {
      text-align: left;
      padding-top: 20px;
      font-weight: 400;
      font-size: 15px;
    }
    .page3-images img
    {
      width: 100%;
    }
    .text3 h2 {
      color: white;
      font-size: 30px;
      font-weight: 600;
  }
  .text3 h3 {
    text-align: left;
    padding-top: 20px;
    font-weight: 300;
    font-size: 18px;
}
    .page5 h2
      {
        font-size: 25px;
        font-weight: 700; 
        /* we are additionally change the h2 font size */
      }
      .page5 h3
      {
        font-size: 15px;
        padding-top: 20px;
        text-align: left;
      }

      .page5-images
      {
        width: 50%;
      }
      .page5-images img
      {
        width: 100%;
      }
      h1 {
        color: white;
        font-size: 30px;
        font-weight: 500;
        padding: 50px 0px 40px;
        text-align: center;
    }
    .block2 {
      background: rgb(45 45 45);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      border: 1px solid black;
      }
      
      .block2 h2
      {
        font-size: 20px;
        font-weight: 300;
      }

      .fa-plus:before
      {
        font-size: 20px;
      }
      .smallblock p
      {
        font-size: 15px;
        padding: 5px;
      }

      .wrapper2 h3 {
        color: white;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 18px;
    }
    #input2 {
      padding: 10px;
      background: transparent;
      font-size: 15px;
      font-weight: 500;
      color: white;
      border-radius: 5px;
      background: rgb(32 29 27);
    }
    #button2 {
      border-radius: 5px;
      padding: 10px;
      background: rgb(229,9,20);
      color: white;
      font-size: 15px;
  }
  .wrapper-last h4
   {
    padding-bottom: 20px;
    font-size: 15px;
    padding-left: 0px;
    }
    .lists li {
      padding: 10px 0px;
      font-size: 12px;
  }
  #select1 {
    padding: 5px 20px;
    margin:  10px 0px ;
    background: transparent;
    color: white;
    }
  #select1+#p1 {
    padding-left: 0px;
    font-size: 12px;
  }

      }
